/* :: Language */

.language-lists {
    position: relative;
    z-index: 1;

    .form-check {
        position: relative;
        z-index: 1;
        margin-bottom: 0;
    }

    .form-check-label {
        color: var(--text);
    }

    li {
        padding: .375rem .75rem;
        border: 1px solid var(--primary-200);
        border-radius: .375rem;
        margin-bottom: 0.75rem;

        &:last-child {
            margin-bottom: 0;
        }
    }
}